html {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    background-color: #fff;
    font-family: sans-serif;
}
A {
    color: #ddd;
    font-size: 14px;
}
A:hover {
    color: #fff;
}
.up__btn {
    position: fixed;
    right: 6vw;
    bottom: 5vh;
    opacity: 0.75;
    z-index: 9999999;
    cursor: pointer;
}
.up__btn > img {
    height: 55px;
    border: 3px solid #ccc;
    border-radius: 50px;
    box-shadow: 10px 7px 10px #333;
    background-color: #fff;
}
.up__btn:hover {
    opacity: 1;
}
/* Header */
.header {
    background-color: #242424;
    color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 10px 7px 15px #333;
}
.header__link {
    margin: 5px 5.5vw 5px 5.5vw;
    cursor: pointer;
}
.header__link1__desc:hover, .header__link2__desc:hover, .header__link3__desc:hover {
    color: #fff;
}
.header__link1__desc, .header__link2__desc, .header__link3__desc {
    vertical-align: super;
}
/* Search form */
.search__form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.form-control {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding:  10px 15px;
    outline: transparent;
    width: 58vw;
    box-shadow: 10px 7px 15px #333;
}
.form-control:focus{
    border: 2px solid darkorange;
}
.btn {
    background-color: rgb(241, 155, 48);
    border-width: 2px;
    border-style: solid;
    border-color: darkorange;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 25px;
    cursor: pointer;
    box-shadow: 10px 7px 15px #333;
}
.btn:hover {
    color: darkorange;
    background-color: #fff;
}
.type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn_type {
    box-shadow: 10px 7px 15px #333;
    width: 33%;
    background-color: rgb(241, 155, 48);
    border-width: 2px;
    border-style: solid;
    border-color: darkorange;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
    margin: 15px 7px 0 7px;
}
.btn_type:hover {
    color: darkorange;
    background-color: #fff;
}
.btn__info {
    box-shadow: 10px 7px 15px #333;
    background-color: rgb(241, 155, 48);
    border-width: 2px;
    border-style: solid;
    border-color: darkorange;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}
/* Title */
.title {
    box-shadow: 10px 7px 15px #333;
    text-align: center;
    font-size: 19px;
    min-height: 26px;
    margin: 20px 7px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
}
/* Main */
.row {
    box-shadow: 10px 7px 15px #333;
    display: flex;
    overflow-x: scroll;
    background-color: #242424;
    padding: 20px;
    min-height: 263px;
    opacity: 0.8;
}
.row:hover {
    opacity: 0.95;
}
.row::-webkit-scrollbar-track {border-radius: 5px;}
.row::-webkit-scrollbar {height: 7px;}
.row::-webkit-scrollbar-thumb {border-radius: 5px;background: #242424;}
.row:hover::-webkit-scrollbar-thumb {background: #777;}
.item {
    box-shadow: 5px 5px 5px #777;
    margin: 5px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 215px;
    background-color: #fff;
}
.item > h5 {
    margin: 0;
    font-size: 12px;
}
.poster {
    max-height: 175px;
    max-width: 125px;
}
/* Info section */
.container {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.item__poster {
    margin-left: 7px;
    min-height: 350px;
    min-width: 150px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #242424;
}
.item__poster > img {
    box-shadow: 10px 7px 15px #333;
    max-height: 300px;
    max-width: 150px;
}
.item__info {
    box-shadow: 10px 7px 15px #333;
    margin-left: 5px;
    margin-right: 7px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: #fff;
    color: #242424;
    padding: 10px;
    width: 100%;
}
/* Youtube trailers */
.trailer__frame {
    box-shadow: 10px 7px 15px #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #242424;
    margin: 0 7px 20px 7px;
}
.frame__hide {
    box-shadow: 10px 7px 15px #333;
    position: absolute;
    margin-left: -45px;
    margin-top: -30px;
    background-color: #fff;
    height: 20px;
    padding: 3px;
    border-radius: 10px 10px 0 10px;
    border: #242424 solid 1px;
    cursor: pointer;
    opacity: 0.75;
}
.frame__hide:hover {
    opacity: 1;
}
.iframe {
    width: 100%;
    height: 55vh;
}
.small__frame {
    margin: 40px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
    opacity: 0.85;
}
.close {
    box-shadow: 10px 7px 15px #333;
    opacity: 0.75;
    margin-right: -25px;
    position: absolute;
    top: 0;
    right: 0;
    border: #242424 solid 1px;
    background-color: #fff;
    border-radius: 10px 10px 10px 0;
    height: 25px;
    margin-top: -24px;
    cursor: pointer;
}
.close:hover {
    opacity: 1;
}
.small__frame > div > img {
    display: none;
}
.small__frame > div > iframe {
    box-shadow: 10px 7px 15px #333;
    height: 18vh;
    min-height: 150px;
}
.chart {
    box-shadow: 10px 7px 15px #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #242424;
    overflow: hidden;
    margin: 7px;
    opacity: 0.85;
}
/* Footer*/
.footer {
    box-shadow: 10px 7px 15px #333;
    opacity: 0.5;
    text-align: center;
    color: #fff;
    padding: 10px;
    background-color: #242424;
    border: 1px solid #242424;
    border-radius: 5px;
    margin: 20px 7px 0 7px;
    padding-bottom: 10px;
}
/* Loader animation */
.loader__placeholder{
    margin: 25px;
    display: flex;
    justify-content: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
}
.lds-ellipsis div {
    position: absolute;
    top: 3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}
